/* BREAKPOINTS */

$break-large: "";
$break-big: "screen and (min-width:1660px)";
// Default
$break-medium: "screen and (min-width:461px) and (max-width:768px)";
$break-small: "screen and (max-width:460px)";
$break-smaller: "screen and (max-width:768px)";

/* MINIX */

@mixin respond-to($media, $pixeles: "") {
    @if $media==big {
        @media #{$break-big} {
            @content;
        }
    }
    @else if $media==medium {
        @media #{$break-medium} {
            @content;
        }
    }
    @else if $media==small {
        @media #{$break-small} {
            @content;
        }
    }
    @else if $media==smaller {
        @media #{$break-smaller} {
            @content;
        }
    }
    @else if $media==px {
        @media screen and (max-width: $pixeles) {
            @content;
        }
    }
    @else if $media==custom {
        @media screen and ($pixeles) {
            @content;
        }
    }
}


/* Your style here */

body {
    overflow-x: hidden;
}

@media (min-width: 1200px) {
    .container {
        width: 1109px;
    }
}

// @import url("https://fonts.googleapis.com/css?family=Lato:400,300,100,700&subset=latin,latin-ext");
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,latin-ext);
#landing {
    padding-top: 80px;
    .navbar-default {
        .navbar-toggle {
            @include respond-to(smaller) {
                margin-top: 24px;
            }
        }
    }
    .navbar {
        background-color: #fff;
        background-image: none;
        box-shadow: none;
        .navbar-brand {
            display: table;
            padding-top: 20px;
        }
    }
    .navbar-nav {
        li {
            a {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
    .slide {
        .indicators {
            li {
                background-color: #000 \9;
                background-color: rgba(0, 0, 0, 0);
                border-radius: 10px;
                border: 1px solid #fff;
                cursor: pointer;
                display: inline-block;
                height: 10px;
                margin: 1px;
                text-indent: -999px;
                width: 10px;
                .active {
                    background-color: #fff;
                    height: 12px;
                    margin: 0;
                    width: 12px;
                }
            }
        }
    }
    .content {
        padding: 0;
        margin-bottom: 120px;
        @include respond-to(smaller) {
            padding-left: 15px;
            padding-right: 15px;
        }
        h1,
        p {
            color: #4a4a4a;
            font-family: 'Roboto', sans-serif;
        }
        h1 {
            color: #616161;
            font-size: 24.29px;
            font-weight: 700;
        }
        p {
            color: #4a4a4a;
            font-size: 12.15px;
            font-weight: 100;
            line-height: 24px;
        }
    }
    .videos {
        margin-bottom: 20px;
        .options {
            margin: 0;
            margin-bottom: 65px;
            form {
                padding-left: 0;
                @include respond-to(smaller) {
                    padding-left: 15px;
                }
                .form-group {
                    position: relative;
                    .glyphicon {
                        color: #919191;
                        left: 15px;
                        position: absolute;
                        top: 9px;
                    }
                    input {
                        font-family: 'Roboto', sans-serif;
                        border-radius: 20px;
                        padding-left: 35px;
                        width: 400px;
                        @include respond-to(smaller) {
                            width: 100%;
                        }
                    }
                }
            }
            .filter {
                color: #4a4a4a;
                float: right;
                font-family: 'Roboto', sans-serif;
                padding-top: 12px;
                width: 20%;
                @include respond-to(smaller) {
                    width: 50%;
                }
                p {
                    float: right;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 100;
                    margin-bottom: 0;
                    padding-right: 2px;
                    padding-top: 8px;
                }
                select {
                    border: 0;
                    box-shadow: none;
                    float: right;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    padding: 6px 0;
                    width: 50%;
                    @include respond-to(small) {
                        width: 60%;
                    }
                }
            }
        }
        .list-videos {
            .vd {
                margin-bottom: 15px;
            }
        }
    }
    footer {
        background-image: url("../img/background-footer.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        padding: 90px 0;
        small {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 100;
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-size: 24.29px;
            margin-bottom: 50px;
            text-transform: lowercase;
            font-weight: 700;
        }
        ul {
            display: inline-block;
            list-style: none;
            padding: 0;
            li {
                float: left;
                a {
                    padding: 0 10px;
                }
            }
        }
    }
}
