/* Your style here */

body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Lato:700');

#landing {
    padding-top: 80px;
	.navbar{
		background-color: #fff;
		background-image: none;
		box-shadow: none;
		.navbar-brand {
		    display: table;
    		padding-top: 20px;
		}
	}
	.navbar-nav {
		li {
			a {
		    	padding-top: 30px;
		    	padding-bottom: 30px;
		    }
		}
	}
	.slide{
		.indicators {
			li{
				background-color: #000\9;
				background-color: rgba(0,0,0,0);
				border-radius: 10px;
				border: 1px solid #fff;
				cursor: pointer;
				display: inline-block;
				height: 10px;
				margin: 1px;
				text-indent: -999px;
				width: 10px;
				.active {
					background-color: #fff;
					height: 12px;
					margin: 0;
					width: 12px;
				}
			}
		}
	}
	.content {

	}
	.videos {
		padding: 20px 0;
		.options {
			margin: 0;
			margin-bottom: 15px;
			form {
			    padding-left: 0;
			    input {
			        border-radius: 20px;
			    }
			}
			.filter {
				float: right;
				padding-right: 15px;
				width: 20%;
				p {
					float: left;
					margin-bottom: 0;
					padding-right: 16px;
					padding-top: 8px;
				}
				select {
					border: 0;
					box-shadow: none;
					float: right;
					width: 55%;
				}
			}
		}
	}
	footer {
		background-image: url('../img/background-footer.jpg');
		background-repeat: no-repeat;
    	background-size: 100% 100%;
		color: #fff;
		text-transform: lowercase;
		padding: 30px 0;
		ul {
			display: inline-block;
			list-style: none;
			width: 33%;
			li {
			    float: left;
			    a {
			        padding: 0 30px;
			    }
			}
		}
	}
}