/* BREAKPOINTS */
/* MINIX */
/* Your style here */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,latin-ext);
body {
  overflow-x: hidden; }

@media (min-width: 1200px) {
  .container {
    width: 1109px; } }
#landing {
  padding-top: 80px; }
  @media screen and (max-width: 768px) {
    #landing .navbar-default .navbar-toggle {
      margin-top: 24px; } }
  #landing .navbar {
    background-color: #fff;
    background-image: none;
    box-shadow: none; }
    #landing .navbar .navbar-brand {
      display: table;
      padding-top: 20px; }
  #landing .navbar-nav li a {
    padding-top: 30px;
    padding-bottom: 30px; }
  #landing .slider {
    position: relative;
    height: 700px; }
    @media screen and (max-width: 768px) {
      #landing .slider {
        min-height: 200px;
        height: 300px; } }
    #landing .slider ul {
      list-style: none;
      margin-bottom: 110px;
      padding: 0;
      position: relative;
      text-align: center; }
      #landing .slider ul li {
        display: none;
        position: relative; }
        #landing .slider ul li img {
          width: 100%; }
        #landing .slider ul li h2 {
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 32.6px;
          font-weight: 700;
          position: absolute;
          top: 10%;
          width: 100%; }
          #landing .slider ul li h2 span {
            font-weight: 100; }
          @media screen and (max-width: 768px) {
            #landing .slider ul li h2 {
              top: 5%; } }
          @media screen and (max-width: 460px) {
            #landing .slider ul li h2 {
              top: -3px;
              font-size: 21.6px; } }
          @media screen and (max-width: 320px) {
            #landing .slider ul li h2 {
              font-size: 15px;
              top: -5px; } }
        #landing .slider ul li small {
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          font-weight: 100;
          left: 0;
          position: absolute;
          top: 45px;
          width: 100%; }
          @media screen and (max-width: 300px) {
            #landing .slider ul li small {
              top: 16px; } }
          @media screen and (max-width: 350px) {
            #landing .slider ul li small {
              margin-top: 10px; } }
          @media screen and (max-width: 450px) {
            #landing .slider ul li small {
              top: 30px; } }
          @media screen and (max-width: 460px) {
            #landing .slider ul li small {
              top: 20px; } }
          @media screen and (max-width: 768px) {
            #landing .slider ul li small {
              top: 40px; } }
        #landing .slider ul li.active {
          display: block; }
    #landing .slider ol.bullets {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 10px;
      top: 25%; }
      @media screen and (max-width: 768px) {
        #landing .slider ol.bullets {
          top: 20%; } }
      #landing .slider ol.bullets li {
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        height: 15px;
        margin: 1px;
        margin-bottom: 15px;
        text-indent: -999px;
        width: 15px; }
        @media screen and (max-width: 768px) {
          #landing .slider ol.bullets li {
            margin-bottom: 8px;
            height: 10px;
            width: 10px; } }
        #landing .slider ol.bullets li.active, #landing .slider ol.bullets li:hover {
          background-color: #fff;
          height: 17px;
          margin: 0;
          margin-bottom: 15px;
          width: 17px; }
          @media screen and (max-width: 768px) {
            #landing .slider ol.bullets li.active, #landing .slider ol.bullets li:hover {
              height: 12px;
              margin-bottom: 8px;
              width: 12px; } }
  #landing .content {
    padding: 0;
    margin-bottom: 120px; }
    @media screen and (max-width: 768px) {
      #landing .content {
        padding-left: 15px;
        padding-right: 15px; } }
    #landing .content h2,
    #landing .content p {
      color: #4a4a4a;
      font-family: 'Roboto', sans-serif; }
    #landing .content h2 {
      color: #616161;
      font-size: 24.29px;
      font-weight: 700; }
    #landing .content p {
      color: #4a4a4a;
      font-size: 12.15px;
      font-weight: 100;
      line-height: 24px; }
  #landing .videos {
    margin-bottom: 20px; }
    #landing .videos .options {
      margin: 0;
      margin-bottom: 65px; }
      #landing .videos .options form {
        padding-left: 0; }
        @media screen and (max-width: 768px) {
          #landing .videos .options form {
            padding-left: 15px; } }
        #landing .videos .options form .form-group {
          position: relative; }
          #landing .videos .options form .form-group .glyphicon {
            color: #919191;
            left: 15px;
            position: absolute;
            top: 9px; }
          #landing .videos .options form .form-group input {
            font-family: 'Roboto', sans-serif;
            border-radius: 20px;
            padding-left: 35px;
            width: 400px; }
            @media screen and (max-width: 768px) {
              #landing .videos .options form .form-group input {
                width: 100%; } }
      #landing .videos .options .filter {
        color: #4a4a4a;
        float: right;
        font-family: 'Roboto', sans-serif;
        padding-top: 12px;
        width: 20%; }
        @media screen and (max-width: 768px) {
          #landing .videos .options .filter {
            width: 50%; } }
        #landing .videos .options .filter p {
          float: right;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          margin-bottom: 0;
          padding-right: 2px;
          padding-top: 8px; }
        #landing .videos .options .filter select {
          border: 0;
          box-shadow: none;
          float: right;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          padding: 6px 0;
          width: 50%; }
          @media screen and (max-width: 460px) {
            #landing .videos .options .filter select {
              width: 60%; } }
    #landing .videos .list-videos .vd {
      margin-bottom: 15px; }
    #landing .videos .list-videos .preload {
      text-align: center;
      width: 78px;
      height: 49px;
      margin: auto; }
      #landing .videos .list-videos .preload span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 24px auto;
        background: black;
        border-radius: 49px;
        -o-border-radius: 49px;
        -ms-border-radius: 49px;
        -webkit-border-radius: 49px;
        -moz-border-radius: 49px;
        animation: bubblingG 1.5s infinite alternate;
        -o-animation: bubblingG 1.5s infinite alternate;
        -ms-animation: bubblingG 1.5s infinite alternate;
        -webkit-animation: bubblingG 1.5s infinite alternate;
        -moz-animation: bubblingG 1.5s infinite alternate; }
      #landing .videos .list-videos .preload #bubblingG_1 {
        animation-delay: 0s;
        -o-animation-delay: 0s;
        -ms-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s; }
      #landing .videos .list-videos .preload #bubblingG_2 {
        animation-delay: 0.45s;
        -o-animation-delay: 0.45s;
        -ms-animation-delay: 0.45s;
        -webkit-animation-delay: 0.45s;
        -moz-animation-delay: 0.45s; }
      #landing .videos .list-videos .preload #bubblingG_3 {
        animation-delay: 0.9s;
        -o-animation-delay: 0.9s;
        -ms-animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s; }
  #landing footer {
    background-image: url("../img/background-footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 90px 0; }
    #landing footer small {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 100; }
    #landing footer p {
      font-family: 'Roboto', sans-serif;
      font-size: 24.29px;
      margin-bottom: 50px;
      text-transform: lowercase;
      font-weight: 700; }
    #landing footer ul {
      display: inline-block;
      list-style: none;
      padding: 0; }
      #landing footer ul li {
        float: left; }
        #landing footer ul li a {
          padding: 0 10px; }

@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: black;
    transform: translateY(0); }
  100% {
    width: 23px;
    height: 23px;
    background-color: white;
    transform: translateY(-20px); } }
@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: black;
    -o-transform: translateY(0); }
  100% {
    width: 23px;
    height: 23px;
    background-color: white;
    -o-transform: translateY(-20px); } }
@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: black;
    -ms-transform: translateY(0); }
  100% {
    width: 23px;
    height: 23px;
    background-color: white;
    -ms-transform: translateY(-20px); } }
@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: black;
    -webkit-transform: translateY(0); }
  100% {
    width: 23px;
    height: 23px;
    background-color: white;
    -webkit-transform: translateY(-20px); } }
@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color: black;
    -moz-transform: translateY(0); }
  100% {
    width: 23px;
    height: 23px;
    background-color: white;
    -moz-transform: translateY(-20px); } }

/*# sourceMappingURL=style.css.map */
